{% extends "Four026CabinetBundle:Default:bootstrap_base.html.twig" %}

{% set navigation_items = [['four026_cabinet_cover', 'About'], ['four026_cabinet_login', 'Login']] %}
{% set active_path = app.request.attributes.get('_route') %}

{% block stylesheets %}
    {% stylesheets '@Four026CabinetBundle/Resources/public/css/cover.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <style type="text/css">
        body {
            background-image: url('{{ random ([
                'http://files.doobybrain.com/wp-content/uploads/2013/09/public-library-of-cincinnati.jpg',
                'http://3.bp.blogspot.com/_oC8TwXe4PF0/TN9g0XtAg7I/AAAAAAAABP4/IAPJ-Fm6Vws/s1600/image-150568-galleryV9-ejsp.jpg',
                'http://images6.alphacoders.com/403/403923.jpg',
                'http://laughingsquid.com/wp-content/uploads/2014/09/6838150900_0ae0967ec5_h.jpg',
                'http://bigpicture.ru/wp-content/uploads/2013/08/soviet11.jpg'
            ]) }}');
        }
    </style>

{% endblock %}

{% block main_content %}
<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h2 class="masthead-brand">Double Cross</h2>
                    <nav>
                        <ul class="nav masthead-nav">
                            {% for item in navigation_items %}
                                <li{% if item[0] == active_path %} class="active"{% endif %}>
                                    <a href="{{ path(item[0]) }}">{{item[1]}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                {% block circle_content %}
                    <p class="lead">Double Cross is a story of mistrust, espionage and murder for 2 players.</p>
                    <p>
                        <a href="#" class="btn btn-default">Learn more</a>
                    </p>
                    <p>
                        <a href="#" class="btn btn-primary">Sign up</a>
                        <a href="{{ path('four026_cabinet_login') }}" class="btn btn-success">Log in</a>
                    </p>
                {% endblock %}
            </div>

        </div>

    </div>

</div>
{% endblock %}