{% extends "Four026CabinetBundle:Default:bootstrap_base.html.twig" %}

{% block javascripts %}
    {% javascripts '@Four026CabinetBundle/Resources/public/js/list_documents.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@Four026CabinetBundle/Resources/public/css/casefiles.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block main_content %}
<div class='container'>
    <div class="page-header">
        <h1>{{ character_name }}</h1>
    </div>

    <div class='row'>
        <div class='col-sm-4 col-md-3'>
            <div class="casefile casefile-typewritten" style="transform: rotate({{ random(10) - 5 }}deg);">
                <h4>Witness interview</h4>
                <p><strong>Interviewee: </strong> John Doe</p>
                <p><strong>Subject: </strong> The Helvetica Incident</p>
            </div>
        </div>

        <div class='col-sm-4 col-md-3'>
            <div class="casefile casefile-handwritten" style="transform: rotate({{ random(10) - 5 }}deg);">
                <h3>Jane's Diary</h3>
                <p>DO NOT READ!</p>
                <p>YES I'M TALKING TO YOU, KATE!!!</p>
            </div>
        </div>

        <div class='col-sm-4 col-md-3'>
            <div class="casefile casefile-newsprint"  style="transform: rotate({{ random(10) - 5 }}deg);">
                <h3>Daily Clich&eacute;</h3>
                <h4>Unrelated event occurs</h4>
                <p>The Government today announced a boring alteration to a minor law that will no doubt become plot-critical at a later <strong>cont p.30</strong></p>
            </div>
        </div>

        <div class='col-sm-4 col-md-3'>
            <div class="casefile casefile-image" style="transform: rotate({{ random(10) - 5 }}deg);">
                <img src="http://www.whitewhalegames.com/images/cotv_flat.jpg" />
            </div>
        </div>
    </div>

    <hr />
</div>
{% endblock %}
