{% extends "Four026CabinetBundle:Default:bootstrap_base.html.twig" %}

{% block main_content %}

<div class="jumbotron">
    <div class="container">
        <h1>Double-Cross admin site</h1>
        <p>Welcome, {{ user.username }}. {{ phrase }}</p>
    </div>
</div>

<div class='container'>

    <ul class="nav nav-tabs">
        <li role="presentation" class="active">
            <a href="#users" aria-controls="home" role="tab" data-toggle="tab">
                Users
                <span class="badge">{{ users|length }}</span>
            </a>
        </li>
        <li role="presentation">
            <a href="#documents" aria-controls="home" role="tab" data-toggle="tab">
                Documents
                <span class="badge">{{ documents|length }}</span>
            </a>
        </li>
        <li role="presentation">
            <a href="#notes" aria-controls="home" role="tab" data-toggle="tab">
                Notes
                <span class="badge">{{ notes|length }}</span>
            </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

        <!-- Users -->
        <div role="tabpanel" class="tab-pane active" id="users">
            <div class="row">
                {% for user in users %}
                    <div class='col-sm-6 col-md-3'>
                        <h4>{{ user.username }}</h4>

                        <dl class="dl-horizontal">
                            <dt>Partner</dt>
                            <dd>{{ user.partner.username|default('None') }}</dd>

                            <dt>Character</dt>
                            <dd>{{ user.character.name|default('None') }}</dd>
                        </dl>

                        <div class="panel panel-default">
                            <div class="panel-heading">Documents</div>
                            <ul class="list-group">
                                {% for document in documents %}
                                    <li class="list-group-item">
                                        {{ document.name }}
                                        {% if (document.id not in user.UnlockedDocumentIds) %}
                                            <a class="btn btn-xs btn-default pull-right" title="Unlock"
                                               href="{{ path('unlock_document', {'user_id' : user.id, 'document_id' : document.id }) }}">
                                                <span class="glyphicon glyphicon-lock"></span> Unlock
                                            </a>
                                        {% else %}
                                            <span class="label label-success pull-right">
                                                <span class="glyphicon glyphicon-ok"></span>
                                                Unlocked
                                            </span>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">Notes</div>
                            <ul class="list-group">
                                {% for note in notes %}
                                    <li class="list-group-item">
                                        {{ note.name }}
                                        {% if (note.id not in user.UnlockedNoteIds) %}
                                            <a class="btn btn-xs btn-default pull-right" title="Unlock"
                                               href="{{ path('unlock_note', {'user_id' : user.id, 'note_id' : note.id }) }}">
                                                <span class="glyphicon glyphicon-lock"></span> Unlock
                                            </a>
                                        {% else %}
                                            <span class="label label-success pull-right">
                                                <span class="glyphicon glyphicon-ok"></span>
                                                Unlocked
                                            </span>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>


        <!-- Documents -->
        <div role="tabpanel" class="tab-pane" id="documents">
            <p class="text-center">
                <a href="{{ path('show_create_document_form') }}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-file"></span>
                    Create new document
                </a>
            </p>

            <div class="panel-group">
                {% for document in documents %}
                    <div class='panel panel-default'>
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ document.name }} - {{ document.character.name }}</h3>
                        </div>
                        <div class="panel-body">
                            {% autoescape false %}
                            {{ document.bodyText }}
                            {% endautoescape %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Notes -->
        <div role="tabpanel" class="tab-pane" id="notes">

            <p class="text-center">
                <a href="{{ path('show_create_note_form') }}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-file"></span>
                    Create new note
                </a>
            </p>

            <div class="panel-group">
                {% for note in notes %}
                    <div class='panel panel-default'>
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ note.name }}</h3>
                        </div>
                        <div class="panel-body">
                            {% autoescape false %}
                            {{ note.bodyText }}
                            {% endautoescape %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>
{% endblock %}